body {
  background: url(http://www.blirk.net/wallpapers/1920x1080/gradient-wallpaper-3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ultimate-board {
  /*width: 31.5em;*/
  transform:  rotate(-7deg)
      translateX(3em) translateY(4em);
}
.board {
  float: left;
  width: 12em;
  height: 12em;
  margin: 5px;
}
.square {
  float: left;
  width: 32.67%;
  height: 32.67%;
  margin: 1%;
  background: #fff1d8;
  font-family: 'Arial', sans-serif;
  font-size: 72px;
  text-align: center;
  line-height: 70%;
  color: #c40909;
}
.high {
  /*box-shadow: 0 0 8px #c40909;*/
  /*outline-style: solid;*/
  background: #767676;
  cursor: pointer;
  border: 3px solid #767676;
  transform:  translateX(1.25em) translateY(-1.25em);
}
.square:hover {
  background: whitesmoke;
}

/**/
/* version previous to LS UI*/
/**/

@base: #f0f0f0;

body{
  background-color: @base;
}

.square
{
  height: 20px;
  width:20px;
  border: 1px solid black;
  float: left;
}

.board
{
  width: 70px;
  float: left;
  margin-bottom: 10px;

}