div { box-sizing: border-box; }
.container {
  width: 760px;
  height: 720px;
  background: #767676;
}
.ultimate-board {
  /*width: 31.5em;*/
  transform:  rotate(-7deg)
      translateX(3em) translateY(4em);
}
.board {
  float: left;
  width: 12em;
  height: 12em;
  margin: 5px;
}
.square {
  float: left;
  width: 32.67%;
  height: 32.67%;
  /*margin: 1%;*/
  background: #fff1d8;
  font-family: 'Arial', sans-serif;
  font-size: 72px;
  text-align: center;
  line-height: 70%;
  color: #c40909;
}
.high {
  /*box-shadow: 0 0 8px #c40909;*/
  /*outline-style: solid;*/
  background: #767676;
  cursor: pointer;
  border: 3px solid #767676;
  transform:  translateX(1.25em) translateY(-1.25em);
}
.square:hover {
  background: whitesmoke;
}