extends ../template/layout

block content
  .row
    .small-12.columns
      h1 Ultimate Tic Tac Toe
  .row
    .small-12.columns#ultimate-board
      .row
        .board
          .square(data-board= "0", data-square= "0")
          .square(data-board= "0", data-square= "1")
          .square(data-board= "0", data-square= "2")
          .square(data-board= "0", data-square= "3")
          .square(data-board= "0", data-square= "4")
          .square(data-board= "0", data-square= "5")
          .square(data-board= "0", data-square= "6")
          .square(data-board= "0", data-square= "7")
          .square(data-board= "0", data-square= "8")
        .board
          .square(data-board= "1", data-square= "0")
          .square(data-board= "1", data-square= "1")
          .square(data-board= "1", data-square= "2")
          .square(data-board= "1", data-square= "3")
          .square(data-board= "1", data-square= "4")
          .square(data-board= "1", data-square= "5")
          .square(data-board= "1", data-square= "6")
          .square(data-board= "1", data-square= "7")
          .square(data-board= "1", data-square= "8")
        .board
          .square(data-board= "2", data-square= "0")
          .square(data-board= "2", data-square= "1")
          .square(data-board= "2", data-square= "2")
          .square(data-board= "2", data-square= "3")
          .square(data-board= "2", data-square= "4")
          .square(data-board= "2", data-square= "5")
          .square(data-board= "2", data-square= "6")
          .square(data-board= "2", data-square= "7")
          .square(data-board= "2", data-square= "8")
      .row
        .board
          .square(data-board= "3", data-square= "0")
          .square(data-board= "3", data-square= "1")
          .square(data-board= "3", data-square= "2")
          .square(data-board= "3", data-square= "3")
          .square(data-board= "3", data-square= "4")
          .square(data-board= "3", data-square= "5")
          .square(data-board= "3", data-square= "6")
          .square(data-board= "3", data-square= "7")
          .square(data-board= "3", data-square= "8")
        .board
          .square(data-board= "4", data-square= "0")
          .square(data-board= "4", data-square= "1")
          .square(data-board= "4", data-square= "2")
          .square(data-board= "4", data-square= "3")
          .square(data-board= "4", data-square= "4")
          .square(data-board= "4", data-square= "5")
          .square(data-board= "4", data-square= "6")
          .square(data-board= "4", data-square= "7")
          .square(data-board= "4", data-square= "8")
        .board
          .square(data-board= "5", data-square= "0")
          .square(data-board= "5", data-square= "1")
          .square(data-board= "5", data-square= "2")
          .square(data-board= "5", data-square= "3")
          .square(data-board= "5", data-square= "4")
          .square(data-board= "5", data-square= "5")
          .square(data-board= "5", data-square= "6")
          .square(data-board= "5", data-square= "7")
          .square(data-board= "5", data-square= "8")
      .row
        .board
          .square(data-board= "6", data-square= "0")
          .square(data-board= "6", data-square= "1")
          .square(data-board= "6", data-square= "2")
          .square(data-board= "6", data-square= "3")
          .square(data-board= "6", data-square= "4")
          .square(data-board= "6", data-square= "5")
          .square(data-board= "6", data-square= "6")
          .square(data-board= "6", data-square= "7")
          .square(data-board= "6", data-square= "8")
        .board
          .square(data-board= "7", data-square= "0")
          .square(data-board= "7", data-square= "1")
          .square(data-board= "7", data-square= "2")
          .square(data-board= "7", data-square= "3")
          .square(data-board= "7", data-square= "4")
          .square(data-board= "7", data-square= "5")
          .square(data-board= "7", data-square= "6")
          .square(data-board= "7", data-square= "7")
          .square(data-board= "7", data-square= "8")
        .board
          .square(data-board= "8", data-square= "0")
          .square(data-board= "8", data-square= "1")
          .square(data-board= "8", data-square= "2")
          .square(data-board= "8", data-square= "3")
          .square(data-board= "8", data-square= "4")
          .square(data-board= "8", data-square= "5")
          .square(data-board= "8", data-square= "6")
          .square(data-board= "8", data-square= "7")
          .square(data-board= "8", data-square= "8")
